FORMAT: 1A
HOST: https://api.codecorps.org

# API Reference

The Code Corps API is a [JSON API](https://github.com/code-corps/code-corps-api)-based REST API built on Rails. You can visit the [API project on GitHub](https://github.com/code-corps/code-corps-api).

This document outlines how to interact with the API's resource-oriented URLs. JSON API errors returned by the API are also documented along with their HTTP status codes.

This API is intended for direct consumption by the Code Corps Ember application.

The production API can be found at `https://api.codecorps.org`.

The staging API can be found at `https://api.pbqrpbecf.org`.

The remote development API can be found at `https://api.pbqrpbecf-qri.org`.

# Authentication
When using the API's authenticated endpoints you can authenticate users by exchanging the `username` and `password` for an OAuth token.

## OAuth Token Exchange [/oauth/token]
Exchange credentials for `access_token`.

### Exchange credentials for token [POST]
+ Request
    + Attributes (OAuth Grant Request)
    + Headers

            Authorization: Basic 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8
            Content-Type: application/x-www-form-urlencoded

+ Response 200 (application/json)
    + Attributes (OAuth Valid Response)

+ Response 401 (application/json)
    + Attributes (OAuth Invalid Response)

# Group Categories

## Category [/categories/new]

### Create a category [POST]

+ Request
  + Attributes (OAuth Grant Request)

+ Headers

  Authorization: Basic 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8

+ Response 201 (application/vnd.api+json)

  + Attributes (Category Response)

+ Response 422 (application/vnd.api+json)

  + Attributes (Unprocessable Entity Response)

## Category [/categories/{id}]

### Retrieve a category [GET]

+ Request
  + Attributes (OAuth Grant Request)

+ Headers

  Authorization: Basic 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8

+ Response 200 (application/vnd.api+json)

  + Attributes (Category Response)

+ Response 404 (application/vnd.api+json)

  + Attributes (Record Not Found Response)

## Category [/categories/{id}/edit]

### Update a category [PUT]

+ Request
  + Attributes (OAuth Grant Request)

+ Headers

  Authorization: Basic 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8

+ Response 204 (application/vnd.api+json)

  + Attributes (No Content Response)

+ Response 404 (application/vnd.api+json)

  + Attributes (Record Not Found Response)

+ Response 409 (application/vnd.api+json)

  + Attributes (Creation Conflict Response)

## Categories [/categories]

### List all categories [GET]

+ Request
  + Attributes (OAuth Grant Request)

+ Headers

  Authorization: Basic 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8

+ Response 200 (application/vnd.api+json)

  + Attributes (Categories Response)

# Group Comment Images

# Group Comment User Mentions

# Group Comments

## Comment [/comments]

### Create a comment [POST]

+ Request

  + Attributes (Comment Create Request)

+ Headers

  Authorization: Basic 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8

+ Response 201 (application/vnd.api+json)

  + Attributes (Comment Response)

+ Response 422 (application/vnd.api+json)

  + Attributes (Unprocessable Entity Response)

## Comment [/comments/{id}/]

### Update a comment [PATCH]

+ Request

  + Attributes (Comment Update Request)

+ Headers

  Authorization: Basic 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8

+ Response 201 (application/vnd.api+json)

  + Attributes (Comment Response)

+ Response 422 (application/vnd.api+json)

  + Attributes (Unprocessable Entity Response)

## Comments [/comments]

### List comments with specified ids [GET]
+ Request
  + Attributes (Id Filter)

+ Headers

  Authorization: Basic 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8

+ Response 200 (application/vnd.api+json)

  + Attributes (Comments Response)

## Comments [/posts/:number/comments]

+ Headers

  Authorization: Basic 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8

+ Response 200 (application/vnd.api+json)

  + Attributes (Comments Response)

### List all comments for specified post [GET]

# Group Github Repositories

# Group Import Skill Failures

# Group Imports

# Group OAuth Applications

# Group Organization Memberships

# Group Organizations

# Group Ping

# Group Post Images

# Group Post Likes

# Group Post User Mentions

# Group Posts

# Group Preview User Mentions

# Group Previews

## Preview [/previews]

### Create a preview [POST]

+ Request

  + Attributes (OAuth Grant Request)

+ Headers

  Authorization: Bearer {access_token}

+ Response 201 (application/vnd.api+json)

  + Attributes (Preview Response)

+ Response 401 (application/json)

  + Attributes (OAuth Invalid Response)

+ Response 422 (application/vnd.api+json)

  + Attributes (Unprocessable Entity Response)

# Group Project Categories

# Group Project Roles

# Group Projects

# Group Roles

# Group Role Skills

# Group Skills

# Group Slugged Routes

# Group User Categories

# Group User Roles

# Group User Skills

# Group Users

## User [/users/{id}]

+ Parameters

  + id: 1 (string, required)

  + theme (enum[string], optional)

        + Default: `light`

        + Members
          + `light`
          + `dark`

### Retrieve a user [GET]

+ Relation: self

+ Request
    + Attributes (OAuth Grant Request)

    + Headers

            Authorization: Basic 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8

+ Response 200 (application/vnd.api+json)

  + Attributes (User Response)

+ Response 404 (application/vnd.api+json)

  + Attributes (Record Not Found Response)

# Data Structures

## Category (object)
+ name: `Category` (required, string)
+ slug: `cat1` (required, string)
+ description: `This is the category description` (string)

## Categories Relationship (object)
+ id: 1 (string)
+ type: categories (string)

## Category Relationships Base (object)
+ include Project Categories Relationship

## Category Response (object)
+ data
  + id: `1` (string)
  + type: `categories` (string)
  + attributes(Category, required)
  + relationships(Category Relationships Base, required)

## Categories Response (object)
+ categories
  + data(array[Category], required)

## Comment (object)
+ markdown: `Markdown` (string)
+ body: `Body` (string)
+ state: `published` (enum[string])
  + Default `published`
  + Members
    + `published`
    + `edited`
+ edited_at: `2014-07-07T18:01:26.000Z` (string)
+ created_at: `2014-07-07T18:01:26.000Z` (string)

## Comment Base (object)
+ markdown: `Markdown` (string, required)

## Head For Comment (object)
+ id: `1` (string, required)
+ type: `comments` (string, required)

## Head For Comment Create (object)
+ type: `comments`, (string, required)

## Attributes For Comment (object)
+ attributes: (Comment, required)

## Attributes For Comment Create Or Update (object)
+ attributes: (Comment Base, required)

## Relationships For Comment (object)
+ relationships:
  + include Related Posts
  + include Related Users
  + include Related Comment User Mentions

## Relationships For Comment Create (object)
+ relationships: (Related Posts, required)

## Comment Create Request (object)
+ include Head For Comment Create
+ include Attributes For Comment Create Or Update
+ include Relationships For Comment Create

## Comment Update Request (object)
+ include Head For Comment
+ include Attributes For Comment Create Or Update

## Comment Response (object)
+ include Head For Comment
+ include Attributes For Comment
+ include Relationships For Comment

## Comments Response (object)
+ comments
  + data(array[Comment Response], required)
+ included(array[Comment User Mention Response])

## Related Comments (object)
+ comments
  + data(array[Head For Comment])

## Comment User Mention (object)
+ indices : 'Debug'
+ username : 'Username' (string, required)

## Head For Comment User Mention (object)
+ id `1` (string)
+ type `comment_user_mentions` (string)

## Attributes For Comment User Mention (object)
+ attributes: (Comment User Mention, required)

## Relationships For Comment User Mention (object)
+ relationships
  + include Related Users
  + include Related Comments

## Comment User Mention Response (object)
+ include Head For Comment User Mention
+ include Attributes For Comment User Mention
+ include Relationships For Comment User Mention

## Related Comment User Mentions (object)
+ comment_user_mentions
  + data(array[Head For Comment User Mention], required)

## Creation Conflict Response (object)
+ title: `Conflict` (string)

+ detail: `{Object} with 'id'={id} already created` (string) - Details of what record was already there.

+ status: 409 (number) - HTTP status code

## No Content Response (object)

+ title: `No Content` (string)

+ status: 204 (number) - HTTP status code

## OAuth Grant Request (object)
  + grant_type: `password` (string, required)
  + username: `josh@coderly.com` (string, required) - The user's email address.
  + password: `password` (string, required)

## OAuth Invalid Response (object)
  + id: `INVALID_GRANT` (string, required)
  + title: `Invalid grant` (string, required)
  + detail: `The provided authorization grant is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client.` (string, required)
  + status: 401 (number, required)

## OAuth Valid Response (object)
  + access_token: `5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8` (string, required)
  + token_type: `bearer` (string, required)
  + expires_in: 7200 (number, required)
  + refresh_token: `f160d958cab936626305062dc594c2cadb12712ebc7cbca091a27ec4921b91d8` (string, required)
  + created_at: 1468283904 (number, required)
  + user_id: 1 (number, required)

## Organizations Relationship (object)
+ id: 1 (string)
+ type: organizations (string)

## Head For Post
+ id: `1` (string, required)
+ type: `posts` (string, required)

## Related Posts (object)
+ posts:
  + data(array[Head For Post], required)

## Preview (object)
+ body: `<p>A <strong>strong</strong> preview</p>` (string)
+ markdown: `A *strong* preview` (string)

## Preview Response Base (object)
+ id: `1` (string)
+ type: `previews` (string)
+ attributes(Preview, required)
+ relationships(Preview Relationships Base, required)

## Preview Response (object)
+ data(Preview Response Base)

## Previews Relationship (object)
+ id: 1 (string)
+ type: previews (string)

## Preview Relationships Base (object)
+ include Users Relationship
+ include Preview User Mentions Relationship

## Preview User Mentions Relationship (object)
+ id: 1 (string)
+ type: preview_user_mentions (string)

## Project Categories Relationship (object)
+ id: 1 (string)
+ type: project_categories (string)

## Projects Relationship (object)
+ id: 1 (string)
+ type: projects (string)

## Record Not Found Response Base (object)
+ id: `RECORD_NOT_FOUND` (string)

+ title: `Record not found` (string)

+ detail: `Couldn't find {object} with 'id'={id}` (string) - Details of what record was not found.

+ status: 404 (number) - HTTP status code

## Record Not Found Response (object)
+ errors(array[Record Not Found Response Base], required)

## Roles Relationship (object)
+ id: 1 (string)
+ type: roles (string)

## Skills Relationship (object)
+ id: 1 (string)
+ type: skills (string)

## Unprocessable Entity Response (object)
+ title: `Unprocessable Entity`

+ status: 422 (number) - HTTP status code

## User (object)
+ email: `team@codecorps.org` (string)
+ theme: `light` (string)

  The theme is either `light` or `dark`.

## User Categories Relationship (object)
+ id: 1 (string)
+ type: user_categories (string)

## Users Relationship
+ id: 1 (string)
+ type: users (string)

## User Relationships Base (object)
+ include User Roles Relationships
+ include User Skills Relationships

## User Response (object)
+ data
  + id: `1` (string)
  + type: `users` (string)
  + attributes(User, required)
  + relationships(User Relationships Base, required)

## Head For User (object)
+ id: `1` (string)
+ type: `users` (string)

## Related Users (object)
+ users
  + data(array[Head For User])

## User Roles Relationship (object)
+ id: 1 (string)
+ type: user_roles (string)

## User Roles Relationships (object)
+ user_roles
  + data(array[User Roles Relationship], required)

## User Skills Relationship (object)
+ id: 1 (string)
+ type: user_skills (string)

## User Skills Relationships (object)
+ user_skills: data(array[User Skills Relationship], required)

## Id Filter (object)
+ filter:
  + id: `1,2,3,...` (string, required)
